/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}


/* Set width on the form input elements since they're 100% wide by default */
.postop{
    top:32%
}

@media(min-width:990px){
    .med{
        width:50vw;
    }
}