<main>
    <div class="row">
        <div class="col">
            <!-- Hero -->
            <div class="p-5 text-center bg-image rounded-3 mb-3" style=" background-image: url('https://www.molinobigolingiovanni.it/wp-content/uploads/pizza3-1200x664.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center; height: 500px; ">
                <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
                    <div class="d-flex justify-content-center align-items-center h-100 p-5">
                        <div class="text-white">
                            <h1 class="mb-3">Voglia di Pizza?</h1>
                            @Html.ActionLink("Ordina Subito", "Pizze", "Home", new { area = "" }, new { @class = "btn btn-outline-danger mb-3" })
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



</main>